/* Sidebar.css */
.sidebar {
    width: 250px;
    height: 100vh;
    background-color: #333;
    color: white;
    padding: 20px;
    position: fixed;
    transition: width 0.3s;
    overflow: hidden;
}

.sidebar.closed {
    width: 60px;
}

.sidebar h2 {
    color: #fff;
    transition: opacity 0.3s;
}

.sidebar-title.hidden {
    opacity: 0;
}

.sidebar-title.visible {
    opacity: 1;
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
}

.sidebar ul li {
    margin: 15px 0;
    display: flex;
    align-items: center;
}

.sidebar ul li a {
    color: #fff;
    text-decoration: none;
    display: flex;
    align-items: center;
    transition: color 0.3s;
}

.sidebar ul li a:hover {
    color: #00aaff;
}

.sidebar ul li a svg {
    margin-right: 10px;
}

.toggle-btn {
    background: none;
    border: none;
    color: #fff;
    cursor: pointer;
    padding: 5px;
    transition: color 0.3s;
}

.toggle-btn:hover {
    color: #00aaff;
}

/* Sidebar.css */
.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000; /* Ensure it appears on top */
}

.modal {
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
    text-align: center;
}

.btn {
    margin: 5px;
}
